<ul id="sidebarnav">
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("Index", "AdminVendor")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Vendors</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("Index", "AdminUser")" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Users</span></a>
    </li>
</ul>