<ul id="sidebarnav">
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("OrderDetails", "Vendor")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Order Details</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("Report", "Vendor")" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Report</span></a>
    </li>
</ul>